parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - "#(.*)with no value type specified in iterable type iterable#"
        - "#(.*)has parameter \\$opts with no type specified.#"
        - "#(.*)array_combine expects(.*)#"
        - "#(.*)SpreadInterface but returns object.#"
